/* Variables*/

:root {

}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  background-color: bisque;
  height: 200px;
  width: 100%;
  display: flex;
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
#footer {
  background-color: lightpink;
  height: 50px;
  text-align: center;
  width: 100%;
}
.photo {
  height: 50vh;
}
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.photo {
  object-fit: cover;
  height: 50vh;
  width: 80%;
  border: 0.25rem solid pink;
  border-radius: 0.25rem;
  display: block;
}